.flex{
    display: flex;
}
.open-login{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    transition: background-color linear .5s ;
}

.open-create-user{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    transition: background-color linear .5s ;
}

.nav-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: white;
    font-family: 'Yantramanav', sans-serif;
}

.nav-bar{
    width: 100%;
    height: 100%;
    max-height: 71px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav-bar .title{
    padding: 15px 20px 15px 0;
    position: relative;
}

.nav-bar .title .title-text{
    color: #f85555;
    font-size: 2rem;
    padding-left: 15px;
}

.nav-bar .title .title-text:hover{
    cursor: pointer;
}

.nav-bar .title .strong-title{
    font-weight: 700;
}

.nav-bar .actions{
    margin-right: 30px;
    position: absolute;
    top: 0;
    right: 0
}

.nav-bar .actions:hover{
    cursor: pointer;
}

.nav-bar .actions .button-actions{
    width: 70px;
    height: 60px;
    align-self: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .actions .button-actions:hover{
    cursor: pointer;
}

.img-i{
    position: absolute;
}

.i-icon-selected{
    transition: color 0.5s;
    font-size: 1.8rem;
    color: #f85555; 
}

.i-icon{
    transition: color 0.5s;
    font-size: 1.8rem;
    color: #dcd9d9;
}

.nav-bar .actions .separator-vertical{
    height: 71px;
    width: 1px;
    background-color: gray;
    margin: 0 20px 0 20px;
}

.nav-bar .actions .first-separator-vertical{
    height: 71px;
    width: 0.7px;
    background-color: gray;
    margin: 0 20px 0 20px;
}

@media only screen and (max-width: 540px){
    .nav-bar .actions .separator-vertical{
        margin: 0 2px;
    }
    
    .nav-bar .actions .first-separator-vertical{
        height: 71px;
        width: 0.7px;
        background-color: gray;
        margin: 0 2px;
    }

    .nav-bar .actions .button-actions{
        width: 40px;
        height: 30px;
    }
}

.separator-horizontal{
    width: 100vw;
    margin: 0;
}

@media only screen and (max-width: 990px){
    .separator-vertical,
    .separator-horizontal{
        opacity: 0;
    }

    .separator-vertical{
        margin: 0;
    }

    .nav-bar .title .title-text{
        font-size: 1.5rem;
    }
}

.login{
    width: 50%;
    max-width: fit-content;
    position: absolute;
    top: 40px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
    transform: scale(0);
    transition: .5s;
    transform-origin: top;
} 

.login.open{
    transform: scale(1);
    width: max-content;
    position: relative;
    margin: auto 0;
    top: -40px;
}

.login.open .message-error{
    margin-top: 30px;
    color: #2FA8F8;
}

.flex-container{
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: -20px;
}

.flex-container>p{
    position: relative;
    right: 2px;
}

.flex-container>button{
    position: relative;
    left: 2px;
    background-color: transparent;
    color: #2FA8F8;
    border: none;
}

.flex-container>button:hover{
    cursor: pointer;
}



.grid-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1rem;
}

.grid-form .elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1100px){
    .grid-form{
        grid-template-columns: repeat(1,1fr);
    }
}


@media only screen and (max-width: 600px){
    .grid-form .elements{
        flex-direction: column;
    }
    .login{
        padding: 5px;
    }
}

.form-submit{
    margin-top: 30px;
}

.form-submit:hover{
    cursor: pointer;
}